*{
	margin: 0px;
	padding: 0px; 
}

body{
	font-family:"Microsoft YaHei";
}

a:hover{
	 text-decoration: none;
}

i{
	font-style:normal
}

b{
	font-weight:normal;
}

ul{
	list-style:none; 
}

/*320*/
@media (min-width: 1px) and (max-width: 359px){
	body{
		width: 320px;
	}

	.quan{
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
	}
	.quan-1{
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		box-shadow: 1px -9px 16px;
	}

	.bd{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 40px;
		background:#64524b;
		padding: 10px;
		z-index: 1;
	}
	
	.cs{
		float: left;
		width: 30px;
		height: 20px;
	}

	.xx{
		float: right;
		width: 20px;
		height: 20px;
	}

	.name{
		float: left;
		width: 80%;
		font-size: 22px;
		color:#FFF;
		margin-top: -7px;
		text-align: center;
	}

	.by{
		position: relative;
		width: 100%;
		margin-top: 40px;
	}

	.fc-right{
		position: fixed;
		top: 0px;
		right: 0px;
		width: 75%;
		background:#FFF;
		height: 100%;
		display: none;
	}

	.fc-right-ul{
		position: relative;
		width: 100%;
		padding: 10px;
	}

	.fc-right-ul li{
		width: 100%;
		border-bottom: 1px solid #e6e6e6;
	}

	.fr-t-li{
		padding: 10px 0;
		font-size: 18px;
	}

	.fr-li{
		padding: 10px;
	}

	.fr-li a{
		color:#747474;
	}

	.tc{
		position: absolute;
		bottom: 5%;
		left: 32%;
		color:#fe5d1f;
		border: 1px solid #fe5d1f;
		border-radius: 4px;
		padding: 6px 24px;
	}

	.tc:hover{
		color:#fe5d1f;
	}

	.fc-left{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 75%;
		background:#FFF;
		height: 100%;
		display: none;  
		padding: 10px;
		padding-top: 0px;
	}

	.fc-left li{
		width: 100%;
		border-bottom: 1px solid #e6e6e6;
		padding: 10px;
	}

	.fc-left li a{
		color:#000;
	}

	.fc-left li a:hover{
		color:#000;
	}

	.jian{
		width: 5px;
		height: 8px;
		margin-left: 5px;
		margin-top: -2px; 
	}
	.fc-left li .chen{
		color:#ff5e1f;
	}

	.fc-left li .chen:hover{
		color:#ff5e1f;
	}
	.gr-zhiliao{
		position: relative;
		top:-15px;
		width: 300px;
		left: 10px;
		border-bottom: 1px solid #e6e6e6;
		padding-bottom: 10px;
	}
	.gr-tou{
		width: 100%;
	}

	.geren{
		width: 70px;
		height: 70px;
		border-radius: 60px;
		padding: 1px;
		border: 1px solid #FFF;
		background:#FFF; 
		box-shadow: 1px 1px 3px;
	}

	.gr-name{
		float: right;
		font-size: 14px;
		width: 60%;
		margin-top: 20px;
		margin-right: 30px;
	}

	.gr-name span{
		font-size: 24px;
		margin-right: 20px;
	}

	.gr-yuyue{
		position: absolute;
		top: 59px;
		left: 88px;
	}

	.gr-neirong{
		position: relative;
		width: 100%;
		padding: 10px;
		border-bottom: 1px solid #e6e6e6;
		
	}

	.by .gr-neirongs{
		height: 138px;
		overflow: hidden;
	}

	.nr-title{
		font-size: 18px;
	}

	.nr-xinxi{
		position: relative;
		width: 100%;
	}

	.nr-xinxi img{
		width: 100%;
		padding-bottom: 10px;
	}

	.gr-qita img{
		width: 15px;
		height: 15px;
		margin-right: 5px;
	}

	.gr-qita .gr-qitas{
		position: relative;
		top: -1px;
		height: 12px;
	}

	.gr-guanyu{
		font-size: 20px;
	}

	.gy-img{
		width: 100%;
	}

	.gy-jieshao{
		margin-top: 20px;
	}

	.gr-yy-anniu{
		position: fixed;
		bottom: 30px;
		right: 10px;
		width: 50px;
		height: 50px;
		background:#fe5d1f; 
		border-radius: 60px;
		color:#FFF;
		text-align: center;
		line-height: 47px;
		z-index: 12;
	}

	.gr-yy-anniu:hover{
		color:#FFF;
	}

	.kankan{
		position: absolute;
		width: 100px;
		color:#000;
		display: block;
		left: 75%;
		bottom: 5px; 
		z-index: 2;
	}

	.kankan:hover{
		color:#000;
	}

	.meng{
		position: absolute;
		bottom:0px;
		left: 0px;
		width: 100%;
	}
	.yuyue{
		position: absolute;
		top: 15%;
		left: 10px;
		width: 300px;
		height: 280px;
		background:#FFF;
		border-radius: 8px;
		display: none;
	}

	.yy-name{
		margin-left: 10px;
		padding: 3px 6px;
		border: 0px;
		border: 1px solid #e8e8e8;
		border-radius: 4px;
		width: 93%;
	}

	.mmx{
		margin-bottom: 10px;
	}

	.yy-shoujis{
		margin-left: 10px;
		padding: 3px 6px;
		border: 0px;
		border: 1px solid #e8e8e8;
		border-radius: 4px;
		width: 59.5%;
	}

	.yy-yzms{
		margin-left: 10px;
		padding: 3px 6px;
		border: 0px;
		border: 1px solid #e8e8e8;
		border-radius: 4px;
		width: 93%;
	}

	.xuanze{
		position: relative;
		top: 20px;
	}

	.xz-img{
		width: 15px;
		height: 15px;
	}

	.nan{
		float: left;
		width: 20%;
		margin-left: 10px;
	}

	.nv{
		float: right;
		width: 20%;
		margin-right: 30%;
	}

	.xz-ok{
		display: none;
	}

	.yy-anniu{
		position: absolute;
		bottom: 15px;
		left: 108px;
		border-radius: 4px;
		border: 1px solid #fe5d1f;
		padding: 6px 24px;
		color:#fe5d1f;
	}

	.yy-anniu:hover{
		color:#fe5d1f;
	}

	.dl{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.67);
		z-index: 13;
		display: none;
	}

	.dl-no{
		position: absolute;
		top: 10px;
		right: 10px;
		width: 15px;
		height: 15px;
	}

	.title{
		margin-bottom: 0px;
		margin-top: 10px;
		text-align: center;
		font-size: 16px;
	}

	.yh{
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.yzm{
		padding: 3px 12px;
		border: 1px solid #999999;
		color:#999999;
		border-radius: 4px;
	}
}
/*320*/

/*360*/
@media (min-width: 360px) and (max-width: 374px){
	body{
		width: 360px;
	}

	.quan{
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
	}

	.quan-1{
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		box-shadow: 1px -9px 16px;
	}

	.bd{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 40px;
		background:#64524b;
		padding: 10px;
		z-index: 1;
	}
	
	.cs{
		float: left;
		width: 30px;
		height: 20px;
	}

	.xx{
		float: right;
		width: 20px;
		height: 20px;
	}

	.name{
		float: left;
		width: 85%;
		font-size: 22px;
		color:#FFF;
		margin-top: -7px;
		text-align: center;
	}

	.by{
		position: relative;
		width: 100%;
		margin-top: 40px;
	}

	.fc-right{
		position: fixed;
		top: 0px;
		right: 0px;
		width: 75%;
		background:#FFF;
		height: 100%;
		display: none;
	}

	.fc-right-ul{
		position: relative;
		width: 100%;
		padding: 10px;
	}

	.fc-right-ul li{
		width: 100%;
		border-bottom: 1px solid #e6e6e6;
	}

	.fr-t-li{
		padding: 10px 0;
	}

	.fr-li{
		padding: 10px;
	}

	.fr-li a{
		color:#747474;
	}

	.tc{
		position: absolute;
		bottom: 5%;
		left: 32%;
		color:#fe5d1f;
		border: 1px solid #fe5d1f;
		border-radius: 4px;
		padding: 6px 24px;
	}

	.tc:hover{
		color:#fe5d1f;
	}

	.fc-left{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 75%;
		background:#FFF;
		height: 100%;
		display: none;  
		padding: 10px;
		padding-top: 0px;
	}

	.fc-left li{
		width: 100%;
		border-bottom: 1px solid #e6e6e6;
		padding: 10px;
	}

	.fc-left li a{
		color:#000;
	}

	.fc-left li a:hover{
		color:#000;
	}

	.jian{
		width: 5px;
		height: 8px;
		margin-left: 5px;
		margin-top: -2px; 
	}
	.fc-left li .chen{
		color:#ff5e1f;
	}

	.fc-left li .chen:hover{
		color:#ff5e1f;
	}
	.gr-zhiliao{
		position: relative;
		top:-15px;
		width: 340px;
		left: 10px;
		border-bottom: 1px solid #e6e6e6;
		padding-bottom: 10px;
	}
	.gr-tou{
		width: 100%;
	}

	.geren{
		width: 80px;
		height: 80px;
		border-radius: 60px;
		padding: 1px;
		border: 1px solid #FFF;
		background:#FFF; 
		box-shadow: 1px 1px 3px;
	}

	.gr-name{
		float: right;
		font-size: 14px;
		width: 60%;
		margin-top: 20px;
		margin-right: 30px;
	}

	.gr-name span{
		font-size: 24px;
		margin-right: 20px;
	}

	.gr-yuyue{
		position: absolute;
		top: 59px;
		left: 105px;
	}

	.gr-neirong{
		position: relative;
		width: 100%;
		padding: 10px;
		border-bottom: 1px solid #e6e6e6;
	}

	.nr-title{
		font-size: 18px;
	}

	.nr-xinxi{
		position: relative;
		width: 100%;
	}

	.nr-xinxi img{
		width: 100%;
		padding-bottom: 10px;
	}

	.gr-qita img{
		width: 15px;
		height: 15px;
		margin-right: 5px;
	}

	.gr-qita .gr-qitas{
		position: relative;
		top: -1px;
		height: 12px;
	}

	.gr-guanyu{
		font-size: 20px;
	}

	.gy-img{
		width: 100%;
	}

	.gy-jieshao{
		margin-top: 20px;
	}

	.gr-yy-anniu{
		position: fixed;
		bottom: 30px;
		right: 10px;
		width: 50px;
		height: 50px;
		background:#fe5d1f; 
		border-radius: 60px;
		color:#FFF;
		text-align: center;
		line-height: 47px;
		z-index:12;
	}

	.gr-yy-anniu:hover{
		color:#FFF;
	}

	.kankan{
		position: absolute;
		width: 71px;
		color:#000;
		display: block;
		left: 78%;
		bottom: 5px; 
		z-index: 2;
	}

	.kankan:hover{
		color:#000;
	}

	.meng{
		position: absolute;
		bottom:0px;
		left: 0px;
		width: 100%;
	}

	.by .gr-neirongs{
		height: 138px;
		overflow: hidden;
	}
	.yuyue{
		position: absolute;
		top: 15%;
		left: 10px;
		width: 340px;
		height: 280px;
		background:#FFF;
		border-radius: 8px;
		display: none;
	}

	.yy-name{
		margin-left: 10px;
		padding: 3px 6px;
		border: 0px;
		border: 1px solid #e8e8e8;
		border-radius: 4px;
		width: 93%;
	}

	.mmx{
		margin-bottom: 10px;
	}

	.yy-shoujis{
		margin-left: 10px;
		padding: 3px 6px;
		border: 0px;
		border: 1px solid #e8e8e8;
		border-radius: 4px;
		width: 63.5%;
	}

	.yy-yzms{
		margin-left: 10px;
		padding: 3px 6px;
		border: 0px;
		border: 1px solid #e8e8e8;
		border-radius: 4px;
		width: 93%;
	}

	.xuanze{
		position: relative;
		top: 20px;
	}

	.xz-img{
		width: 20px;
		height: 20px;
	}

	.nan{
		float: left;
		width: 20%;
		margin-left: 10px;
	}

	.nv{
		float: right;
		width: 20%;
		margin-right: 30%;
	}

	.nns{
		font-size: 16px;
	}

	.xz-ok{
		display: none;
	}

	.yy-anniu{
		position: absolute;
		bottom: 15px;
		left: 108px;
		border-radius: 4px;
		border: 1px solid #fe5d1f;
		padding: 6px 24px;
		color:#fe5d1f;
	}

	.yy-anniu:hover{
		color:#fe5d1f;
	}

	.dl{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.67);
		z-index: 13;
		display: none;
	}

	.dl-no{
		position: absolute;
		top: 10px;
		right: 10px;
		width: 15px;
		height: 15px;
	}

	.title{
		margin-bottom: 0px;
		margin-top: 10px;
		text-align: center;
		font-size: 16px;
	}

	.yh{
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.yzm{
		padding: 3px 12px;
		border: 1px solid #999999;
		color:#999999;
		border-radius: 4px;
	}
}
/*360*/

/*375*/
@media (min-width: 375px) and (max-width: 383px){
	body{
		width: 375px;
	}

	.quan{
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
	}
	.quan-1{
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		box-shadow: 1px -9px 16px;
	}
	.bd{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 40px;
		background:#64524b;
		padding: 10px;
		z-index: 1;
	}
	
	.cs{
		float: left;
		width: 30px;
		height: 20px;
	}

	.xx{
		float: right;
		width: 20px;
		height: 20px;
	}

	.name{
		float: left;
		width: 85%;
		font-size: 22px;
		color:#FFF;
		margin-top: -7px;
		text-align: center;
	}

	.by{
		position: relative;
		width: 100%;
		margin-top: 40px;
	}

	.fc-right{
		position: fixed;
		top: 0px;
		right: 0px;
		width: 75%;
		background:#FFF;
		height: 100%;
		display: none;
	}

	.fc-right-ul{
		position: relative;
		width: 100%;
		padding: 10px;
	}

	.fc-right-ul li{
		width: 100%;
		border-bottom: 1px solid #e6e6e6;
	}

	.fr-t-li{
		padding: 10px 0;
	}

	.fr-li{
		padding: 10px;
	}

	.fr-li a{
		color:#747474;
	}

	.tc{
		position: absolute;
		bottom: 5%;
		left: 32%;
		color:#fe5d1f;
		border: 1px solid #fe5d1f;
		border-radius: 4px;
		padding: 6px 24px;
	}

	.tc:hover{
		color:#fe5d1f;
	}

	.fc-left{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 75%;
		background:#FFF;
		height: 100%;
		display: none; 
		padding: 10px;
		padding-top: 0px;
	}

	.fc-left li{
		width: 100%;
		border-bottom: 1px solid #e6e6e6;
		padding: 10px;
	}

	.fc-left li a{
		color:#000;
	}

	.fc-left li a:hover{
		color:#000;
	}

	.jian{
		width: 5px;
		height: 8px;
		margin-left: 5px;
		margin-top: -2px; 
	}
	.fc-left li .chen{
		color:#ff5e1f;
	}

	.fc-left li .chen:hover{
		color:#ff5e1f;
	}
	.gr-zhiliao{
		position: relative;
		top:-15px;
		width: 355px;
		left: 10px;
		border-bottom: 1px solid #e6e6e6;
		padding-bottom: 10px;
	}
	.gr-tou{
		width: 100%;
	}

	.geren{
		width: 82px;
		height: 82px;
		border-radius: 60px;
		padding: 1px;
		border: 1px solid #FFF;
		background:#FFF; 
		box-shadow: 1px 1px 3px;
	}

	.gr-name{
		float: right;
		font-size: 14px;
		width: 60%;
		margin-top: 20px;
		margin-right: 30px;
	}

	.gr-name span{
		font-size: 24px;
		margin-right: 20px;
	}

	.gr-yuyue{
		position: absolute;
		top: 59px;
		left: 111px;
	}

	.gr-neirong{
		position: relative;
		width: 100%;
		padding: 10px;
		border-bottom: 1px solid #e6e6e6;
	}

	.nr-title{
		font-size: 18px;
	}

	.nr-xinxi{
		position: relative;
		width: 100%;
	}

	.nr-xinxi img{
		width: 100%;
		padding-bottom: 10px;
	}

	.gr-qita img{
		width: 15px;
		height: 15px;
		margin-right: 5px;
	}

	.gr-qita .gr-qitas{
		position: relative;
		top: -1px;
		height: 12px;
	}

	.gr-guanyu{
		font-size: 20px;
	}

	.gy-img{
		width: 100%;
	}

	.gy-jieshao{
		margin-top: 20px;
	}

	.gr-yy-anniu{
		position: fixed;
		bottom: 30px;
		right: 10px;
		width: 50px;
		height: 50px;
		background:#fe5d1f; 
		border-radius: 60px;
		color:#FFF;
		text-align: center;
		line-height: 47px;
		z-index: 12;
	}

	.gr-yy-anniu:hover{
		color:#FFF;
	}

	.kankan{
		position: absolute;
		width: 71px;
		color:#000;
		display: block;
		left: 79%;
		bottom: 5px; 
		z-index: 2;
	}

	.kankan:hover{
		color:#000;
	}

	.meng{
		position: absolute;
		bottom:0px;
		left: 0px;
		width: 100%;
	}

	.by .gr-neirongs{
		height: 138px;
		overflow: hidden;
	}
	.yuyue{
		position: absolute;
		top: 15%;
		left: 10px;
		width: 355px;
		height: 280px;
		background:#FFF;
		border-radius: 8px;
		display: none;
	}

	.yy-name{
		margin-left: 10px;
		padding: 3px 6px;
		border: 0px;
		border: 1px solid #e8e8e8;
		border-radius: 4px;
		width: 93%;
	}

	.mmx{
		margin-bottom: 10px;
	}

	.yy-shoujis{
		margin-left: 10px;
		padding: 3px 6px;
		border: 0px;
		border: 1px solid #e8e8e8;
		border-radius: 4px;
		width: 64.7%;
	}

	.yy-yzms{
		margin-left: 10px;
		padding: 3px 6px;
		border: 0px;
		border: 1px solid #e8e8e8;
		border-radius: 4px;
		width: 93%;
	}

	.xuanze{
		position: relative;
		top: 20px;
	}

	.xz-img{
		width: 20px;
		height: 20px;
	}

	.nan{
		float: left;
		width: 20%;
		margin-left: 10px;
	}

	.nv{
		float: right;
		width: 20%;
		margin-right: 30%;
	}

	.nns{
		font-size: 16px;
	}

	.xz-ok{
		display: none;
	}

	.yy-anniu{
		position: absolute;
		bottom: 15px;
		left: 108px;
		border-radius: 4px;
		border: 1px solid #fe5d1f;
		padding: 6px 24px;
		color:#fe5d1f;
	}

	.yy-anniu:hover{
		color:#fe5d1f;
	}

	.dl{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.67);
		z-index: 13;
		display: none;
	}

	.dl-no{
		position: absolute;
		top: 10px;
		right: 10px;
		width: 15px;
		height: 15px;
	}

	.title{
		margin-bottom: 0px;
		margin-top: 10px;
		text-align: center;
		font-size: 16px;
	}

	.yh{
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.yzm{
		padding: 3px 12px;
		border: 1px solid #999999;
		color:#999999;
		border-radius: 4px;
	}
}
/*375*/

/*384*/
@media (min-width: 384px) and (max-width: 413px){
	body{
		width: 384px;
	}

	.quan{
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
	}
	.quan-1{
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		box-shadow: 1px -9px 16px;
	}
	.bd{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 40px;
		background:#64524b;
		padding: 10px;
		z-index: 1;
	}
	
	.cs{
		float: left;
		width: 30px;
		height: 20px;
	}

	.xx{
		float: right;
		width: 20px;
		height: 20px;
	}

	.name{
		float: left;
		width: 85%;
		font-size: 22px;
		color:#FFF;
		margin-top: -7px;
		text-align: center;
	}

	.by{
		position: relative;
		width: 100%;
		margin-top: 40px;
	}

	.fc-right{
		position: fixed;
		top: 0px;
		right: 0px;
		width: 75%;
		background:#FFF;
		height: 100%;
		display: none;
	}

	.fc-right-ul{
		position: relative;
		width: 100%;
		padding: 10px;
	}

	.fc-right-ul li{
		width: 100%;
		border-bottom: 1px solid #e6e6e6;
	}

	.fr-t-li{
		padding: 10px 0;
	}

	.fr-li{
		padding: 10px;
	}

	.fr-li a{
		color:#747474;
	}

	.tc{
		position: absolute;
		bottom: 5%;
		left: 32%;
		color:#fe5d1f;
		border: 1px solid #fe5d1f;
		border-radius: 4px;
		padding: 6px 24px;
	}

	.tc:hover{
		color:#fe5d1f;
	}

	.fc-left{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 75%;
		background:#FFF;
		height: 100%;
		display: none; 
		padding: 10px;
		padding-top: 0px;
	}

	.fc-left li{
		width: 100%;
		border-bottom: 1px solid #e6e6e6;
		padding: 10px;
	}

	.fc-left li a{
		color:#000;
	}

	.fc-left li a:hover{
		color:#000;
	}

	.jian{
		width: 5px;
		height: 8px;
		margin-left: 5px;
		margin-top: -2px; 
	}
	.fc-left li .chen{
		color:#ff5e1f;
	}

	.fc-left li .chen:hover{
		color:#ff5e1f;
	}
	.gr-zhiliao{
		position: relative;
		top:-15px;
		width: 365px;
		left: 10px;
		border-bottom: 1px solid #e6e6e6;
		padding-bottom: 10px;
	}
	.gr-tou{
		width: 100%;
	}

	.geren{
		width: 85px;
		height: 85px;
		border-radius: 60px;
		padding: 1px;
		border: 1px solid #FFF;
		background:#FFF; 
		box-shadow: 1px 1px 3px;
	}

	.gr-name{
		float: right;
		font-size: 14px;
		width: 60%;
		margin-top: 20px;
		margin-right: 30px;
	}

	.gr-name span{
		font-size: 24px;
		margin-right: 20px;
	}

	.gr-yuyue{
		position: absolute;
		top: 59px;
		left: 115px;
	}

	.gr-neirong{
		position: relative;
		width: 100%;
		padding: 10px;
		border-bottom: 1px solid #e6e6e6;
	}

	.nr-title{
		font-size: 18px;
	}

	.nr-xinxi{
		position: relative;
		width: 100%;
	}

	.nr-xinxi img{
		width: 100%;
		padding-bottom: 10px;
	}

	.gr-qita img{
		width: 15px;
		height: 15px;
		margin-right: 5px;
	}

	.gr-qita .gr-qitas{
		position: relative;
		top: -1px;
		height: 12px;
	}

	.gr-guanyu{
		font-size: 20px;
	}

	.gy-img{
		width: 100%;
	}

	.gy-jieshao{
		margin-top: 20px;
	}

	.gr-yy-anniu{
		position: fixed;
		bottom: 30px;
		right: 10px;
		width: 50px;
		height: 50px;
		background:#fe5d1f; 
		border-radius: 60px;
		color:#FFF;
		text-align: center;
		line-height: 47px;
		z-index: 12;
	}

	.gr-yy-anniu:hover{
		color:#FFF;
	}

	.kankan{
		position: absolute;
		width: 71px;
		color:#000;
		display: block;
		left: 80%;
		bottom: 5px; 
		z-index: 2;
	}

	.kankan:hover{
		color:#000;
	}

	.meng{
		position: absolute;
		bottom:0px;
		left: 0px;
		width: 100%;
	}

	.by .gr-neirongs{
		height: 138px;
		overflow: hidden;
	}
		.yuyue{
		position: absolute;
		top: 15%;
		left: 10px;
		width: 365px;
		height: 280px;
		background:#FFF;
		border-radius: 8px;
		display: none;
	}

	.yy-name{
		margin-left: 10px;
		padding: 3px 6px;
		border: 0px;
		border: 1px solid #e8e8e8;
		border-radius: 4px;
		width: 93%;
	}

	.mmx{
		margin-bottom: 10px;
	}

	.yy-shoujis{
		margin-left: 10px;
		padding: 3px 6px;
		border: 0px;
		border: 1px solid #e8e8e8;
		border-radius: 4px;
		width: 65.5%;
	}

	.yy-yzms{
		margin-left: 10px;
		padding: 3px 6px;
		border: 0px;
		border: 1px solid #e8e8e8;
		border-radius: 4px;
		width: 93%;
	}

	.xuanze{
		position: relative;
		top: 20px;
	}

	.xz-img{
		width: 20px;
		height: 20px;
	}

	.nan{
		float: left;
		width: 20%;
		margin-left: 10px;
	}

	.nv{
		float: right;
		width: 20%;
		margin-right: 30%;
	}

	.nns{
		font-size: 16px;
	}

	.xz-ok{
		display: none;
	}

	.yy-anniu{
		position: absolute;
		bottom: 15px;
		left: 108px;
		border-radius: 4px;
		border: 1px solid #fe5d1f;
		padding: 6px 24px;
		color:#fe5d1f;
	}

	.yy-anniu:hover{
		color:#fe5d1f;
	}

	.dl{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.67);
		z-index: 13;
		display: none;
	}

	.dl-no{
		position: absolute;
		top: 10px;
		right: 10px;
		width: 15px;
		height: 15px;
	}

	.title{
		margin-bottom: 0px;
		margin-top: 10px;
		text-align: center;
		font-size: 16px;
	}

	.yh{
		margin-top: 20px;
		margin-bottom: 10px;
	}

		.yzm{
		padding: 3px 12px;
		border: 1px solid #999999;
		color:#999999;
		border-radius: 4px;
	}
}
/*384*/

/*414*/
@media (min-width: 414px){
	body{
		width: 414px;
	}

	.quan{
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
	}
	.quan-1{
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		box-shadow: 1px -9px 16px;
	}
	.bd{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 40px;
		background:#64524b;
		padding: 10px;
		z-index: 1;
	}
	
	.cs{
		float: left;
		width: 30px;
		height: 20px;
	}

	.xx{
		float: right;
		width: 20px;
		height: 20px;
	}

	.name{
		float: left;
		width: 85%;
		font-size: 22px;
		color:#FFF;
		margin-top: -7px;
		text-align: center;
	}

	.by{
		position: relative;
		width: 100%;
		margin-top: 40px;
	}

	.fc-right{
		position: fixed;
		top: 0px;
		right: 0px;
		width: 75%;
		background:#FFF;
		height: 100%;
		display: none;
	}

	.fc-right-ul{
		position: relative;
		width: 100%;
		padding: 10px;
	}

	.fc-right-ul li{
		width: 100%;
		border-bottom: 1px solid #e6e6e6;
	}

	.fr-t-li{
		padding: 10px 0;
	}

	.fr-li{
		padding: 10px;
	}

	.fr-li a{
		color:#747474;
	}

	.tc{
		position: absolute;
		bottom: 5%;
		left: 32%;
		color:#fe5d1f;
		border: 1px solid #fe5d1f;
		border-radius: 4px;
		padding: 6px 24px;
	}

	.tc:hover{
		color:#fe5d1f;
	}

	.fc-left{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 75%;
		background:#FFF;
		height: 100%;
		display: none; 
		padding: 10px;
		padding-top: 0px;
	}

	.fc-left li{
		width: 100%;
		border-bottom: 1px solid #e6e6e6;
		padding: 10px;
	}

	.fc-left li a{
		color:#000;
	}

	.fc-left li a:hover{
		color:#000;
	}

	.jian{
		width: 5px;
		height: 8px;
		margin-left: 5px;
		margin-top: -2px; 
	}
	.fc-left li .chen{
		color:#ff5e1f;
	}

	.fc-left li .chen:hover{
		color:#ff5e1f;
	}
	.gr-zhiliao{
		position: relative;
		top:-15px;
		width: 394px;
		left: 10px;
		border-bottom: 1px solid #e6e6e6;
		padding-bottom: 10px;
	}
	.gr-tou{
		width: 100%;
	}

	.geren{
		width: 95px;
		height: 95px;
		border-radius: 60px;
		padding: 1px;
		border: 1px solid #FFF;
		background:#FFF; 
		box-shadow: 1px 1px 3px;
	}

	.gr-name{
		float: right;
		font-size: 18px;
		width: 60%;
		margin-top: 20px;
		margin-right: 30px;
	}

	.gr-name span{
		font-size: 30px;
		margin-right: 20px;
	}

	.gr-yuyue{
		position: absolute;
		top: 59px;
		left: 127px;
		font-size: 18px;
	}

	.gr-neirong{
		position: relative;
		width: 100%;
		padding: 10px;
		border-bottom: 1px solid #e6e6e6;
	}

	.nr-title{
		font-size: 24px;
	}

	.nr-xinxi{
		position: relative;
		width: 100%;
		font-size: 16px;
	}

	.nr-xinxi img{
		width: 100%;
		padding-bottom: 10px;
	}

	.gr-qita img{
		width: 20px;
		height: 20px;
		margin-right: 5px;
	}

	.gr-qita .gr-qitas{
		position: relative;
		top: -1px;
		height: 12px;
	}

	.gr-qita span{
		font-size: 16px;
	}

	.gr-guanyu{
		font-size: 24px;
	}

	.gy-img{
		width: 100%;
	}

	.gy-jieshao{
		margin-top: 20px;
		font-size: 16px;
	}

	.gr-yy-anniu{
		position: fixed;
		bottom: 30px;
		right: 10px;
		width: 70px;
		height: 70px;
		background:#fe5d1f; 
		border-radius: 60px;
		color:#FFF;
		text-align: center;
		line-height: 67px;
		z-index: 12;
		font-size: 16px;
	}

	.gr-yy-anniu:hover{
		color:#FFF;
	}

	.kankan{
		position: absolute;
		width: 71px;
		color:#000;
		display: block;
		left: 81%;
		bottom: 5px; 
		z-index: 2;
	}

	.kankan:hover{
		color:#000;
	}

	.meng{
		position: absolute;
		bottom:0px;
		left: 0px;
		width: 100%;
	}

	.by .gr-neirongs{
		height: 138px;
		overflow: hidden;
	}
		.yuyue{
		position: absolute;
		top: 15%;
		left: 10px;
		width: 394px;
		height: 280px;
		background:#FFF;
		border-radius: 8px;
		display: none;
	}

	.yy-name{
		margin-left: 10px;
		padding: 3px 6px;
		border: 0px;
		border: 1px solid #e8e8e8;
		border-radius: 4px;
		width: 93%;
	}

	.mmx{
		margin-bottom: 10px;
	}

	.yy-shoujis{
		margin-left: 10px;
		padding: 3px 6px;
		border: 0px;
		border: 1px solid #e8e8e8;
		border-radius: 4px;
		width: 67.5%;
	}

	.yy-yzms{
		margin-left: 10px;
		padding: 3px 6px;
		border: 0px;
		border: 1px solid #e8e8e8;
		border-radius: 4px;
		width: 93%;
	}

	.xuanze{
		position: relative;
		top: 20px;
	}

	.xz-img{
		width: 20px;
		height: 20px;
	}

	.nan{
		float: left;
		width: 20%;
		margin-left: 10px;
	}

	.nv{
		float: right;
		width: 20%;
		margin-right: 30%;
	}

	.nns{
		font-size: 16px;
	}

	.xz-ok{
		display: none;
	}

	.yy-anniu{
		position: absolute;
		bottom: 15px;
		left: 108px;
		border-radius: 4px;
		border: 1px solid #fe5d1f;
		padding: 6px 24px;
		color:#fe5d1f;
	}

	.yy-anniu:hover{
		color:#fe5d1f;
	}

	.dl{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.67);
		z-index: 13;
		display: none;
	}

	.dl-no{
		position: absolute;
		top: 10px;
		right: 10px;
		width: 20px;
		height: 20px;
	}

	.title{
		margin-bottom: 0px;
		margin-top: 10px;
		text-align: center;
		font-size: 18px;
	}

	.yh{
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.yzm{
		padding: 3px 12px;
		border: 1px solid #999999;
		color:#999999;
		border-radius: 4px;
	}
}
/*414*/